
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Busca un amigo</h1>
        <p class="lead text-muted">
          Adoptar a un mascota es una manera de combatir el maltrato animal, ayudas a que disminuyan las cifras de abandono de las mascotas, liberas un espacio en el refugio para que otros perros puedan recibir ayuda y le ofreces mejores condiciones de vida.
        </p>
      </div>
    </div>
  </section>
  

  <div class="album py-5 bg-light">
    <div class = "filtro">
      <h2 align="center">Filtro</h2>
      
      <div class="row g-4">
        
        <div class="col-sm">
          Mascota
          <select class="form-select" id="autoSizingSelect" >
            <option  (click)="selecionaMascota(item)" *ngFor="let item of mascotas">
              {{item}}
            </option>
          </select>
        </div>
        
        <div class="col-sm">
          Color
          <select class="form-select" id="autoSizingSelect" >
            <option  (click)="selecionaColor(item)" *ngFor="let item of colores">
              {{item}}
            </option>
          </select>
        </div>
        <div class="col-sm">
          Sexo
          <select class="form-select" id="autoSizingSelect" >
            <option  (click)="selecionaSexo(sexo[0])">
              Todos
            </option>
            <option  (click)="selecionaSexo(sexo[1])">
              Hembra
            </option>
            <option  (click)="selecionaSexo(sexo[2])">
              Macho
            </option>
          </select>
        </div>
        <div class="col-sm">
          Tamaño
          <select class="form-select" id="autoSizingSelect" >
            <option  (click)="selecionaTamanio(item)" *ngFor="let item of tamanios">
              {{item}}
            </option>
          </select>
        </div>
        <div class="col-sm">
          Edad minima
          <input [(ngModel)]=filtro.edadMin type="number" value=0 min="0" max="20" class="form-control" placeholder="0">
          Edad maxima
          <input [(ngModel)]=filtro.edadMax type="number" value=20 min="0" max="20" class="form-control" placeholder="20">
          <br>
          <button type="button" class="btn btn-primary btn-sm" (click)="buscaFiltro()">Buscar por edad</button>
        </div>
      </div>
      <br>
    </div>
    
    <br>
    <div class="container">
      
      <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let item of buscados">
          <div class="card shadow-sm">
            <img width="100%" height="225" src={{item.foto}}>
            
            <div class="card-body">
              <p class="card-text">{{item.nombre}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" (click)="seleciona(item.id)" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver</button>
                  <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
                <small class="text-muted">telefono: {{item.numero}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<button type="button" (click)="seleciona(1)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mascota: {{amigo.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img width="100%" height="225" src={{amigo.foto}}>
      </div>
      <div class="modal-footer">
        <p>Numero Telefonico: {{amigo.numero}}         </p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <!--<button type="button" class="btn btn-primary"></button>-->
      </div>
    </div>
  </div>
</div>



