



<main role="main" class="container">
    <div class="jumbotron">
      <h1>Requisitos dar a una mascota</h1>
      <p class="lead">¿Te estás planteando adoptar una mascota? Muchas personas quieren adoptar un animal pero no saben cómo. Conoce cuáles son los pasos que debes seguir.</p>
      <hr>
      Son muchos los animales que necesitan tu ayuda. Mascotas abandonadas, heridas o maltratadas están a la espera de una casa de acogida que les quiera. Si te comprometes a ser un buen dueño y estás decidido a adoptar puedes consultar la web de protectoras de animales y acudir a los centros de acogida. Descubre cómo funciona la política de adopción de estas asociaciones.
      <br>
      <br>
      <h3>Requisitos para adoptar a una mascota:</h3>
      <dl>
        <dt>Ser mayor de edad</dt>
        <dd>Se presentará el DNI de identificación</dd>
        <dt>Comprobante de domicilio</dt>
        <dd>Documento que demuestre que la persona es propietaria del domicilio donde vivirá la mascota o, en caso de alquiler, que el arrendatario permite residir con animales.</dd>
        <dt>Contrato de adopción</dt>
        <dd>Debes firmar un acta que te compromete a Cuidar de tu mascota y mantenerla en unas condiciones óptimas de espacio, tiempo, alimentación, ejercicio..</dd>
      </dl>

      <h3>Escoje a tu amigo:</h3>
      <dl>
        <dt>Dirigiete al <a routerLink="/CatalagoAmigo">catalago amigos</a></dt>
        <dd>Busca al amigo que más adecue a ti y a tu entorno recuerda escoger bien a tu amigo</dd>
        <dt>Una ves encontrado a tu amigo</dt>
        <dd>Mandanos el formulario de adopcion por correo a <b>202103221@est.umss.edu</b> o bien con puedes contactarte con la persona encargada del la mascota cada amigo tiene un numero para pedir mas informes</dd>
        <dt>Contrato de adopción</dt>
        <dd>Debes firmar un acta que te compromete a Cuidar de tu mascota y mantenerla en unas condiciones óptimas de espacio, tiempo, alimentación, ejercicio..</dd>
      </dl>
      <a class="btn btn-lg btn-primary" href="https://drive.google.com/file/d/1UC_5xYJr0jxqtdswy92t2cxJHZeWuL7_/view?usp=sharing" role="button">Formulario</a>
    </div>
</main>
        